<h1>Put your template here.</h1>

<p>
    Here's JSON.stringify(data)
</p><br />
<%= JSON.stringify(data) %>
<br />

<p>
    Here's JSON.stringify(err)
</p><br />
<%= JSON.stringify(err) %>
<br />

<p>
    Here's status
</p><br />
<%= status %>
<br />